.dropdown-menu {
	margin-top: 0;
	background: rgba(0, 0, 0, 0.5);
}

.dropdown-menu .dropdown-toggle::after {
	vertical-align: middle;
	border-left: 4px solid;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	background: rgba(0, 0, 0, 0.5);
}

.dropdown-menu .dropdown .dropdown-menu {
	left: 100%;
	top: 0%;
	margin: 0 20px;
	border-width: 0;
}

.dropdown-menu>li {
	margin: 0 !important;
}

.dropdown-menu>li a:hover,
.dropdown-menu>li.show {
	color: #a7a7a7;
	background: transparent;
}

.dropdown-menu>li.show>a {
	color: #a7a7a7;
}

@media (min-width: 768px) {
	.dropdown-menu .dropdown .dropdown-menu {
		margin: 0;
		border-width: 1px;
	}
}